body {
    background-color: whitesmoke;
    text-align: center;
}

.bodystyle {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 200;
    font-size: large;
}

.headerstyle {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 500;
    font-size: x-large;
    font-stretch: expanded;
}