img {
    border: 6px solid black; 
}

.sexystyle {
    border: 1px dotted gray;
    padding: 10px;
}

.sexystyle1 {
    border: 1px dotted gray;
    padding: 10px;
    float: left; 
}

.box { 
    margin: 30px;  
}

body {
    background-color: rgba(255, 255, 255, 0.930);
    text-align: center;
}

.bodystyle {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 200;
    font-size: large;
}

.bodystyle1 {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 200;
    font-size: large;
}

.headerstyle {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 500;
    font-size: x-large;
    font-stretch: expanded;
}

ul {
    float: left; 
}

body {
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}