.box {
    border: 1px solid black;  
    margin: 30px;  
}

body {
    background-color: rgba(255, 255, 255, 0.930);
    text-align: center;
}

h1 {
    text-shadow: blueviolet; 
    font-size: 500;   
}

.bodystyle {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 200;
    font-size: large;
}

.headerstyle {
    color: rgb(22, 20, 20); 
    font-style: Georgia;
    font-weight: 500;
    font-size: x-large;
    font-stretch: expanded;
}